.container {
  width: 100%;
}

.tab_bar {
  border-bottom: 1px solid #772c45;
  margin-bottom: 16px;
}

.tab_bar > a {
  color: #ac3b61;
  font-weight: 600;
}

.tab_bar > .nav-link.active {
  background-color: grey;
  color: #ac3b61;
  font-weight: 600;
}

.margin_12 {
  margin: 12px 0;
}

.margin_8 {
  margin-top: 8px;
}

.margin_r12 {
  margin-right: 12px;
}

.psuedo_form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  margin-bottom: 36px;
}

.bid_entry {
  margin-bottom: 20px;
}

.bid_entry > p {
  text-decoration: underline;
}
