.section_title {
  margin: 12px 0 8px 0;
  text-decoration: underline;
}

.section_value {
  font-size: 1.2rem;
}

.admin_page {
  width: 100%;
}

.summary_box {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 16px 16px;
  width: 100%;
}

.info_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 16px 0;
  width: 100%;
}

.tab_bar {
  border-bottom: 1px solid #772c45;
  margin-bottom: 16px;
}

.tab_bar > a {
  color: #ac3b61;
  font-weight: 600;
}

.tab_bar > .nav-link.active {
  background-color: grey;
  color: #ac3b61;
  font-weight: 600;
}
